/* css/components/footer.css */
.main-footer {
    background: linear-gradient(to right, #667eea, #764ba2);
    background-image: url('../../images/footer-bg.png');
    background-size: cover;
    color: white;
    margin-top: 0;
}

.main-footer a {
    color: #fff;
    text-decoration: underline;
}